{% extends "base.html" %}

{% block content %}
<H3> {{ country_name }} </H3>

<p>Официальные языки: {{ languages_list }}.</p>
<p>Площадь: {{ square }} кв.км.</p>
<p>Население: {{ population }} чел.</p>
{% if reservoirs_list %}
	<p>Протекающие реки и граничащие водоемы: 
	{% for i in range(length) %}
		{% if i!= length-1 %}
			<A href=../reservoirs/{{reservoirs_list[i]['id']}}>{{reservoirs_list[i]['Reservoirs']}}</A>,
		{% else %}
			<A href=../reservoirs/{{reservoirs_list[i]['id']}}>{{reservoirs_list[i]['Reservoirs']}}</A>.
		{% endif %}
	{% endfor %}
{% endif %}

{% endblock %}
